@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}

#hero-msg h1, #hero-msg h4, .button-box, main section{
    text-align: center;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

nav{
    display:flex;
    justify-content:space-around;
}

nav a{
    text-align: center;
    padding: 35px;
    text-decoration: none;
}

#background{
    height: 725px;
    background-color: #2EC0F9;
    grid-column: 1/11;
    grid-row: 4/9;
}

body{
    background-color: #2EC0F9;
    font-family: 'Open Sans' , Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;    
}

header{
    background-color: #396E94;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover{
    background-color: #2EC0F9;
}

footer{
    background-color: #67AAF9;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 80px;
}

footer a{
    text-align: center;
    text-decoration: none;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer .social img{
    padding-top: 15px;
}

#title {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#waterfall {
    grid-column: 1/4;
    grid-row: 1/2;
    width: 100%;
}

#title h1{
    text-align: center;
    padding-top: 100px;
    font-weight: 600;
    grid-column: 2/3;
    grid-row: 1/2;
    color: white;
}

#questions {
    margin: 5%;
    padding: 5%;
    background: #C4E0F9;
    border: 10px solid #d9c2a3;
    box-shadow: 5px 5px 10px #6f7364;
}

.question {
    background: #a2d1fb;
    width: auto;
    padding: 10px;
}

#last {
    margin-bottom: 0;
    padding-bottom: 0;
}

.answer {
    padding-bottom: 50px;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            