h1 {
    text-align: center;
    color: white;
}

h1:hover {
    color: black;
}

body {
    background-color: pink;
}

#quote {
    margin: 40px auto;
    text-align: center;
    color: white;
    width: 50%;
}

h3 {
    margin: 0 auto;
    text-align: center;
    color: white;
}

#list {
    width: 373px;
    align-self: center;
    margin: 40px auto;
    font-weight: bold;
}

#atonement {
    font-size: larger;
    margin: 40px auto;
    text-align: center;
    color: white;
    width: 35%
}

#atonement p {
    color: black;
    font-size: small;
}