#everything {
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: white;
}

h1:hover {
    color: black;
}

body {
    background-color: pink;
}

#quote {
    margin: 40px auto;
    text-align: center;
    color: white;
}

h3 {
    margin: 0 auto;
    text-align: center;
    color: white;
}

#list {
    width: 373px;
    margin: 40px auto;
    font-weight: bold;
}

#prophet_img {
    max-width: 50%;
    margin: 0 auto;
}

.president_nelson {
    width: 100%;
    text-align: center;
}

#atonement {
    font-size: larger;
    margin: 40px auto;
    text-align: center;
    color: white;
}

#atonement p {
    color: black;
    font-size: small;
    margin-top: 0px;
    margin-bottom: 0px;
}